version: 2
updates:
# Maintanin updates for NuGet
- package-ecosystem: nuget
  directory: "/"
  schedule:
    interval: daily
    time: "04:00"
    timezone: "Europe/Warsaw"
  open-pull-requests-limit: 10
  reviewers:
  - DemoBytom
  labels:
  - "\U0001F527dependencies"
  target-branch: "develop"
  groups:
    nuget-packages:
      applies-to: version-updates
      update-types:
      - "minor"
      - "patch"
# Maintain updates for GitHub Actions
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "daily"
    time: "04:00"
    timezone: "Europe/Warsaw"
  reviewers:
  - DemoBytom
  labels:
  - "\U0001F527dependencies"
  target-branch: "develop"
# Maintain updates for .NET SDK
- package-ecosystem: "dotnet-sdk"
  directory: "/"
  schedule:
    interval: "daily"
    time: "04:00"
    timezone: "Europe/Warsaw"
  reviewers:
  - DemoBytom
  labels:
  - "\U0001F527dependencies"
  target-branch: "develop"
